.investment-card {
  
  margin-bottom: 49px; // Space below each investment card

  h1 {
    color: $textGreen;
    font-weight: 500;
    font-size: 28px;
  }

  hr {
    display: flex; // Aligns the horizontal line
    justify-self: center; // Centers the horizontal line
    border: 1px solid $textGreen;
    width: 73px;
    margin: 14px 0;
  }

  p {
    color: $textGrey;
    text-align: left;
    line-height: 31px;
    font-size: 16px;
    margin: 0;
  }

  button {
    background-color: $primaryBtnColor;
    color: #fff;
    font-size: 19px;
    border: none; // Removes button border
    height: 40px;
    width: 165px;
    margin-top: 51px;
  }
}

@media (min-width: 1280px) {
  .investment-card {
    text-align: center;
    margin-bottom: 44px;

    hr{
      margin-top: 23px;
      margin-bottom: 26px;
    }

    button{
      margin-top: 48px;
    }
  }
}
